html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  text-align: center;
}

.background-container {
  width: 100%;
  height: 100%;
  background-image: url("../images/vecteezy_glossy-gaming-overlay-and-screen-border-decoration-elements_20919342.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
}
  .navbar {
    position: sticky;
    top: 0;
  }

  h1 {
    font-size: 24px;
}
  
.hero {
  color: #fff;
  padding: 15px 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
   
}


.content {
  width: 100%;
  margin-left: 500px;
  position: relative;
  display: flex;
  flex-direction: row;
  background-color: rgba(36, 36, 36, 0.2); 
  padding: 0px 0; /* Add padding as needed */
  color: #fff;
}

  
  .hero h1 {
    font-size: 3rem;
  }
  
  .hero p {
    font-size: 1.5rem;
  }
  
  .game-board {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 10px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%; 
    max-width: 400px; 
    margin-top: 0px;
}

.user-info {
  background-color: rgba(37,37,37,255);
}
  
.footer a {
  display: inline-flex; /* or inline-flex */
  margin-right: 10px; /* Adjust the spacing between icons as needed */
}
  
   .tictactoeContainer {
    
    width: 100%;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.tictactoeBoard {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5px;
  margin-top: 20px;
}

.cell {
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  background-color: #eee;
  cursor: pointer;
}

.status {
  margin-top: 20px;
  font-size: 18px;
}

.reset-button {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.reset-button:hover {
  background-color: #0056b3;
}

#online-users {
  width: 100%;
  max-width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #343a40;
  border: 1px solid #ccc;
  padding: 20px;
  margin: 20px 0;
}

#online-users h2 {
  color: #fff;
}

#users-list {
  list-style-type: none;
  padding: 0;
}

#users-list li {
  padding: 5px 0;
  border-bottom: 1px solid #ccc;
}

#users-list li:last-child {
  border-bottom: none;
}
